/* Positional styling */
.home-div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    width: clamp(300px, 80%, 800px);

    padding: 2rem;

    border-radius: 10px;
}

.home-div section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

/* Home container visual styling */
.home-div {
    background-color: var(--mediumForest);
}

.home-div img {
    aspect-ratio: 1;
    width: 80%;
    object-fit: cover;
    box-shadow: 2px 2px 5px black;
}

.home-div p {
    text-align: justify;
    max-width: 60ch;
}