/* Positional styling */
.home-div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;

    width: 80%;

    padding: 2rem;

    border-radius: 10px;
}

/* Home container visual styling */
.home-div {
    background-color: var(--mediumForest);
}

.home-div img {
    aspect-ratio: 1;
    width: clamp(300px, 50vw, 600px);
    object-fit: cover;
    box-shadow: 2px 2px 5px black;
}