/* Positional Styling */
.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: max(300px, 50%);
}

.menu-container > article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

/* Visual styling */
.menu-container {
    background-color: var(--mediumForest);
    border-radius: 10px;
}

.menu-container > article {
    border: 1px solid var(--accentBrass);
    border-radius: 10px;
}