*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
}

:root {
    --forestGreen: #1e2419;
    --offWhite: #f0f0f0;
    --accentBrass: #c9a96e;
    --mediumForest: #2a3021;
}

html {
    color: var(--offWhite);
    font-size: max(16px, 1rem);
    line-height: 1.6;
}

button {
    color:inherit;
    padding: 0.6rem 0.4rem;

    border: 2px solid var(--accentBrass);
    border-radius: 10px;

    background-color: var(--mediumForest);
    font-size: 1.2rem;
}

body {
    background-color: var(--forestGreen);
}